In [1]:
import pandas as pd

In [3]:
with open('D:\Desktop\File Jupiter NoteBook\FreeCodeCamp/btc-market-price_miss.csv', 'r') as fp:
    print(fp)

<_io.TextIOWrapper name='D:\\Desktop\\File Jupiter NoteBook\\FreeCodeCamp/btc-market-price.csv' mode='r' encoding='cp1252'>

In [10]:
with open('D:\Desktop\File Jupiter NoteBook\FreeCodeCamp/btc-market-price_miss.csv', 'r') as fp:
    for index, line in enumerate(fp.readlines()):
        if(index < 10):
            print(index, line)

0 2/4/17 0:00,1099.169125

1 3/4/17 0:00,1141.813

2 4/4/17 0:00,?

3 5/4/17 0:00,1133.079314

4 6/4/17 0:00,-

5 7/4/17 0:00,-

6 8/4/17 0:00,1181.149838

7 9/4/17 0:00,1208.8005

8 10/4/17 0:00,1207.744875

9 11/4/17 0:00,1226.617038

In [14]:
import csv

In [15]:
with open('D:\Desktop\File Jupiter NoteBook\FreeCodeCamp/btc-market-price_miss.csv', 'r') as fp:
    reader = csv.reader(fp)
    for index, (timestamp, price) in enumerate(reader):
        if(index < 10):
            print(f'{timestamp} : {price}')

2/4/17 0:00 : 1099.169125
3/4/17 0:00 : 1141.813
4/4/17 0:00 : ?
5/4/17 0:00 : 1133.079314
6/4/17 0:00 : -
7/4/17 0:00 : -
8/4/17 0:00 : 1181.149838
9/4/17 0:00 : 1208.8005
10/4/17 0:00 : 1207.744875
11/4/17 0:00 : 1226.617038

In [63]:
df = pd.read_csv('D:\Desktop\File Jupiter NoteBook\FreeCodeCamp/btc-market-price_miss.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'}, 
                 parse_dates=[0])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  365 non-null    datetime64[ns]
 1   Price      354 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

     Timestamp        Price
0   2017-02-04  1099.169125
1   2017-03-04  1141.813000
2   2017-04-04          NaN
3   2017-05-04  1133.079314
4   2017-06-04          NaN
..         ...          ...
360 2018-03-28  7960.380000
361 2018-03-29  7172.280000
362 2018-03-30  6882.531667
363 2018-03-31  6935.480000
364 2018-01-04  6794.105000

[365 rows x 2 columns]